<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Book Club</title>
</head>

<body>

    <h1>Book Club</h1>
    <h2>
        <%=recommendedBy%> Chronicles
    </h2>
    <ul>
        <%for(let book of books){ %>
            <li>
                <a href="/books/<%= book._id %>">
                    <%= book.title %>
                </a>
            </li>
            <% } %>
    </ul>
    <a href="books/new">Add new book</a>
    <%if(recommendedBy!== '' ) {%>
        <a href="/books">All Chronicles</a>
        <% } %>

</body>

</html>