<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>

<body>
    <h1>We are gonna add notes here</h1>
</body>
<form method="post" action="/books">
    <div>
        <label for="text">Note Title</label>
        <input type="text" id="title" name="title">
    </div>
    <br>
    <div>
        <textarea name="comment" id="comment" placeholder="Type note here" cols="30" rows="10"></textarea>
    </div>
    <button>Add new note</button>
</form>
<a href="/books">Back Home</a>

</html>